* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1,6;
    padding: 30px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    color: #666;
    margin-bottom: 30px;
}

nav {
    background: #333;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #fc03ad;
}

#about {
    margin-bottom: 50px;
}

#about p {
    font-size: 18px;
    color: #555;
}

.columns {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.column {
    width: 33.33%;
    background: #f4f4f4;
    padding: 25px;
    border-radius: 8px;
}

.column h3 {
    color: #333;
    margin-bottom: 15px;
}

.column p {
    color: #666;
}

.intro-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 50px;
    text-align: center;
}

#contact {
    margin-bottom: 30px;
}

#contact h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

#contact p {
    color: #666;
    margin-bottom: 25px;
}


form {
    max-width: 600px;
}

.field {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    text-align: right;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    margin-left: 136px;
    background: #f26dc8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #fc03ad;
}
